$mask: #001931;
$main-color: #ff6c00;
$button-color: #ff6b08;
$style-text-color: #00edff;
$main-black: #000000;
$topic-text-color: #0f1f34;
$additional1-text-color: #7e838d;
$additional2-text-color: #46505f;
$main-white: #ffffff;
