.require {
  width: 100%;
  //padding: 75px 48px 75px 62px;
  padding: 75px 0;
  background: radial-gradient($additional2-text-color, $mask);

  @media (min-width: 768px) {
    padding: 84px 0 90px;
  }
}
