.wrapper {
    min-width: 320px;

}

.title {
    padding-bottom: 60px;
    margin: 0;
    font-family: Acrom;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
}

.title--ttc {
  color: $topic-text-color;
}

.title--tac {
  text-align: center;
}

.cards__list {
    list-style: none;
    counter-reset: section;
}

.card {
    position: relative;
    width: 230px;
    height: 468px;
    margin: 0 auto;
    margin-bottom: 65px;
    box-shadow: 1px 1px 35px 5px #f1f1f1;
}

.card:last-child {
    margin-bottom: 75px;
}
.card::before {
    counter-increment: section;
    content: "0"counter(section);
    color: #f6f6f6;
    font-size: 70px;
    position: absolute;
    z-index: -1;
    bottom: 94%;
    left: 10%;
    font-family: Acrom;
    line-height: 84px;
}

.card__item {
    margin: 0;
    background: $main-white;

}

.card__title {
margin: 0;
padding: 46px 12px 22px 25px;
font-size: 18px;
line-height: 26px;
font-family: Acrom;
font-style: normal;
font-weight: 900;
text-transform: uppercase;
}

.card__text {
    margin: 0;
    padding: 0 12px 18px 25px;
}

.card__text1 {
    font-size: 14px;
    line-height: 21px;
    font-family: Acrom;
    font-style: normal;
    font-weight: 900;
}
.card__text2 {
    font-size: 14px;
    line-height: 21px;
    font-family: Acrom;
    font-style: normal;
    font-weight: 500;
    color: $additional1-text-color;
}
.card__img {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    .wrapper {
        min-width: 712px;
        margin: auto;
    }

    .cards__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;

    }
    .card {
        margin-bottom: 90px;
    }
    .card:last-child {
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        min-width: 1080px;
        margin: auto;
    }

    .cards__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


    }
}
