.orange-sqaure {
  position: relative;
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: -18px;
    background-color: $main-color;
  }
  &--md-36::after {
    @media (min-width: 768px) {
      top: -36px;
    }
  }
}
