.site_logo {
    padding-bottom: 52px;
    text-align: center;
}
.link_logo {
   display: inline-block;
  
}
.image_logo {
    display: block;
}
@media (min-width: 768px) {
    // .site_logo {
    //     text-align: center;
    // }
}
@media (min-width: 1200px) {
    // .site_logo {
    //     text-align: center;
    // }
}