
.text_company {
    font-family: 'Acrom';
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: #5b616e;
    text-align: center;
    line-height: 1.6;
}
.post {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 40px;
}
.colortext {
    color: #17ecff;
}
@media (min-width: 768px) {
    .text_company {
        font-family: 'Acrom';
        font-weight: 500;
        font-size: 16px;
        font-style: normal;
        color: #5b616e;
        text-align: center;
}
}

@media (min-width:1200px) {
    .text_company {
        font-family: 'Acrom';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
}
