.title {
  font-size: 20px;
  font-family: Acrom, sans-serif;
  color: $main-white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;


  @media (min-width: 768px) {
    font-size: 36px;

    &--md-ml60 {
      margin-left: 60px;
    }

    &--md-mb94px {
      margin-bottom: 64px;
    }
  }
}
