.title {
  font-size: 20px;
  font-family: "Acrom";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;
  text-align: left;
  position: absolute;
  left: 59.937px;
  top: 1323.938px;
  z-index: 38;
}
