.title {
  font-size: 20px;
  font-family: Acrom, sans-serif;
  color: $main-white;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;

  &--ttc {
    color: $topic-text-color;
  }

  &--tac {
    text-align: center;
  }

  &--mb-68 {
    margin-bottom: 68px;
  }


  @media (min-width: 768px) {
    font-size: 36px;

    &--md-mb64 {
      margin-bottom: 64px;
    }
    &--md-mb94 {
      margin-bottom: 94px;
    }
  }

  @media (min-width: 1200px) {
    text-align: center;
    &--xl-20p {
      flex-basis: 20%;
    }
  }
}
